@font-face {font-family: Pixel; src: url('../font/Crazy-Pixel.ttf');}

body{
    background-color:black;
}

/*----------- MARQUEE AREA -----------*/
.gameArea{
  text-align: center;  
}
.marqueeRow{
    background-color: #3292D0;
}
#titleMarquee{
    max-width: 100%;
}

/*----------- ROOM SELECT AREA -----------*/
.roomSelectRow{
   background-color: #3292D0;
}
.roomSelect{
    list-style-type: none;
    float: left;
    padding-left: 0px;
}
.roomSelect li{
    display: inline-block;
}
.roomSelectButton{
    font-family: Pixel;
    font-size: 2em;
}
#hiScoreButton{
    float: right;
    font-family: Pixel;
    font-size: 2em;
    color:blue;
}

/*----------- SCORE SUBMIT AREA -----------*/
#scoreSubmit{
    display: none; /*Dispaly after gameover*/   
    font-family: Pixel;
    position: absolute;
    width: 300px;
    height: 150px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background-color: #3292D0;
}
#scoreSubmit p{
   font-size: 3em;
   color : #FFFFFF;
}
#scoreSubmit input{
   font-size: 24px;
}

/*----------- HIGHSCORE AREA -----------*/
#scoreDiv{
    display: none;
    background-color: #313149;
    text-align: center;
}
#scoreDiv h1{
    font-family: Pixel;
    font-size: 4em;
    color : #FFFFFF;
}
#scoreList{
   columns: 3; 
}
.scoreItem{
    list-style-type: none;
    font-family: Pixel;
    font-size: 2em;
    color : #FFFFFF;
}

/*----------- GAMESCREEN AREA -----------*/
.gameRow{
    background-color: #313149;
}